<h1>Listing photos</h1>

<table>
  <tr>
    <th>所有人</th>
    <th>是否作为头像</th>
    <th>预览</th>
  </tr>

<% @photos.each do |t| %>
  <tr>
    <td><%=h t.user(params[:login]) %></td>
    <td><%= t.is_avatar ? "是":"否" %></td>
    <td><%= image_tag t.image.url(:thumb) ,:alt =>"被GFW和谐了！" %></td>
    <td><%= link_to 'Show', t %></td>
    <td><%= link_to 'Edit', edit_photo_path(t) %></td>
    <td><%= link_to 'Destroy', t, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @photos ,
    :inner_window => 1,
    :outer_window => 1,
    :prev_label => 'Previous',
    :next_label => 'Next'
  %>
<hr />

<%= link_to 'New photo', new_photo_path %>